.mini_title {
	font-family: 'Sam3KRFont';
	font-size: 30px;
	text-align: left;
	color: #730e74;
	margin: 50px 0 30px 150px;
	width: 60%;
}

.minimini_tilte {
	font-family: 'Sam3KRFont';
	font-size: 20px;
	text-align: left;
	color: #730e74;
	margin: 50px 0 30px 150px;
	width: 15%;
	display: inline-block;
}

#count {
	font-family: 'DOSGothic';
	font-size: 20px;
	display: inline-block;
}