@charset "UTF-8";

/* 프로모션 상세 */

/* 이미지 탭*/
/* 가운데 정렬 다른 방법 찾을 것 */
input[type="radio"] {
	display:none;
}

.conbox{
    margin-top: 3%;
    margin-left: 17%;

    width:550px;
	height:350px;
    border: 20px solid rgb(161, 155, 155);
    border-radius: 30px;
    display: none;
    text-align: center;
}

.btn {
    margin-left: 43.3%;
	padding:10px;
}

label[for*="tab"] {
    margin-left: 20%;
	display:inline-block;
	padding:10px;
	background:lightgrey;
	margin:5px;
	border-radius:100%;
}

input[id="tab01"]:checked ~ .con1 {
	display:block;
}
input[id="tab02"]:checked ~ .con2 {
	display:block;
}
input[id="tab03"]:checked ~ .con3 {
	display:block;
}

input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
	background:#ebd266;;
}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
	background:#f1bfd4;;
}
input[id="tab03"]:checked ~ .btn > label[for="tab03"]{
	background:#b4dee9;;
}

/* 그 외 */
.p_title{
    font-family: 'DOSGothic';
    font-size: large; 
    margin: 3%;
    text-align: center;
}

.category_detail{
	/* ▼ 지현님 코드
    font-family: 'Nanum Gothic', sans-serif;
    margin: 3%;
    */
    font-family: 'Sam3KRFont';
   	font-size: 30px;
   	text-align: left;
   	color: #730e74;
   	margin: 30px 0 30px 50px;
   	width: 60%;
}

.p_explain{
	/* ▼ 지현님 코드
    font-family: 'Nanum Gothic', sans-serif;
    margin: 3%;
    */
    	font-family: 'Sam3KRFont';
    	font-size: 30px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
    	width: 60%;
}

#promotion_explain{
    	text-align: center;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
}

.p_content{
    font-family: 'DOSGothic';
    text-align: center;
}

.proInfo{
	font-family: 'DOSGothic';
    display: flex;
    justify-content: space-around;
    text-align: center; 
}

/* 이미지 슬라이드 */
/*
.slick-prev{
	left: 160px;
    z-index: 1;
}
.slick-next{
	right: 160px;
    z-index: 1;
}

.slide_div img{
	margin: auto;
}
.slide_content{
	padding: 15px 0 15px 0;
    background: #e6e9f6;
}
.slide_div img{
	max-width: 85%;
    height: auto;
    display: block;
	margin: auto;    
}
*/

.slide_content{
	width: 550px; 
	height: 350px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 5%;
}

.promotion_input {
	width: 550px; 
	height: 250px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 5%;
}

#middle {
	margin-top:60px;
	margin-right:20px;
	float: right;
}

.promName {
	margin-bottom: 20px; 
	text-align: center;
}

#promotion_enroll {
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
}

#promotion_enroll:hover {
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
}

#promotion_enroll:active {
	position:relative;
   	top:1px;
}

#cancel {
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
}

#cancel:hover {
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
}

#cancel:active {
	position:relative;
   	top:1px;
}

#promName {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	width: 400px;
   	height: 50px;
   	text-align: center;
}

#promContent {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	width: 600px;
   	height: 200px;
   	text-align: center;
}

#product {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	text-align: center;
}







