@charset "UTF-8";

/* 프로모션 상세 */

.frame{
	margin: 50px 50px; 
}

/* 이미지 슬라이드 */
/*
.slick-prev{
	left: 160px;
    z-index: 1;
}
.slick-next{
	right: 160px;
    z-index: 1;
}

.slide_div img{
	margin: auto;
}
.slide_content{
	padding: 15px 0 15px 0;
    background: #e6e9f6;
}
.slide_div img{
	max-width: 85%;
    height: auto;
    display: block;
	margin: auto;    
}
*/

.slide_content{
	width: 450px; 
	height: 350px; 
	margin: 0 auto; /* 가운데 정렬 .. ? */
	margin-bottom: 3%;
}

.slide_div img{
	border-radius: 15px;
}

.p_title{
    font-family: 'DOSGothic';
    font-size: large; 
    margin: 3%;
    text-align: center;
}

.category_detail{
    font-family: 'Sam3KRFont';
   	font-size: 28px;
   	text-align: left;
   	color: #730e74;
   	margin: 30px 0 30px 50px;
   	width: 60%;
}

.p_explain{
    	font-family: 'Sam3KRFont';
    	font-size: 28px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
    	width: 60%;
}

#promotion_explain{
    	text-align: center;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
}

.p_content{
    font-family: 'DOSGothic';
    text-align: center;
}

.proInfo{
	font-family: 'DOSGothic';
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 2% 5%;
}

.proInfo strong{
	font-size: 15px;
}

.proInfo p{
    font-size: 13px;	
}

.proInfo img {
	border-radius: 15px;
	margin: 0 0 2%;
}

.promotion_input {
	width: 550px; 
	height: 250px; /* 정렬하려는 요소의 넓이를 반드시 지정 */ 
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 5%;
}

#middle {
	margin-top:60px;
	margin-right:20px;
	float: right;
}

.promName {
	margin-bottom: 20px; 
	text-align: center;
}

#promotion_enroll {
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
}

#promotion_enroll:hover {
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
}

#promotion_enroll:active {
	position:relative;
   	top:1px;
}

#cancel {
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
}

#cancel:hover {
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
}

#cancel:active {
	position:relative;
   	top:1px;
}

#promName {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	width: 400px;
   	height: 50px;
   	text-align: center;
}

#promContent {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	width: 600px;
   	height: 200px;
   	text-align: center;
}

#product {
	border-color: #730e74;
   	font-family:'DOSGothic';
   	text-align: center;
}

#imagePreview {
	width: 50px;
	height: 50px;
}


.proList1 {
	margin: 0 5px;
}

.proList2 {
	margin: 0 5px;
}

.proList3 {
	margin: 0 5px;
}

.p_date_name {
    font-family: 'Sam3KRFont';
    font-size: 22px;
    text-align: left;
    color: #730e74;
    margin: 30px 0 30px 50px;
    width: 60%;	
}

.p_date {
    font-family: 'DOSGothic';
    font-size: 15px;
    text-align: left;
    margin: 0 10%;
}
