<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close"
		p:driverClassName="${db.driver}"
		p:url="${db.url}"
		p:username="${db.username}"
		p:password="${db.password}"
	/>
	 
	
	<bean id="mybatisConfig" class="org.apache.ibatis.session.Configuration"
		p:jdbcTypeForNull="NULL"
	/>
	
	 
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:configuration-ref="mybatisConfig"
		p:mapperLocations="classpath:mappers/**/*.xml"
		p:typeAliasesPackage="com.collaverse.mvc.*.model.vo"
		p:dataSource-ref="dataSource"
	/>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		c:sqlSessionFactory-ref="sqlSessionFactory"
	/>
	
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="com.collaverse.mvc.*.model.dao"
	/> 
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"
	/>
	
	<mybatis-spring:scan base-package="com.collaverse.mvc.qna.mapper"/>
	<context:component-scan base-package="com.collaverse.mvc.qna.model"></context:component-scan>
	<context:component-scan base-package="com.collaverse.mvc.qna.service"></context:component-scan>
	
	<mybatis-spring:scan base-package="com.collaverse.mvc.reply.mapper"/>
	<context:component-scan base-package="com.collaverse.mvc.reply.model"></context:component-scan>
	<context:component-scan base-package="com.collaverse.mvc.reply.service"></context:component-scan>
	
	<mybatis-spring:scan base-package="com.collaverse.mvc.schedule.mapper"/>
	<context:component-scan base-package="com.collaverse.mvc.schedule.model"></context:component-scan>
	<context:component-scan base-package="com.collaverse.mvc.schedule.service"></context:component-scan>
	
	<mybatis-spring:scan base-package="com.collaverse.mvc.notice.mapper"/>
	<context:component-scan base-package="com.collaverse.mvc.notice.model"></context:component-scan>
	<context:component-scan base-package="com.collaverse.mvc.notice.service"></context:component-scan>
	
</beans>

