<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  


<mapper namespace="com.collaverse.mvc.collections.model.dao.CollectionsMapper">

	<resultMap type="com.collaverse.mvc.member.model.vo.Member" id="memberResultMap">
		<id property="no" column="MEMBER_NO"/>
		<result property="role" column="MEMBER_ROLE"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="profile_img" column="PROFILE_IMG"/>
		<result property="business_no" column="BUSINESS_NO"/>
		<result property="business_name" column="BUSINESS_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
	</resultMap>
	
	<resultMap type="com.collaverse.mvc.collections.model.vo.Collections" id="listResultMap">
		<result property="id" column="ID"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="profile_img" column="PROFILE_IMG"/>
		<result property="toMemNo" column="TO_MEM_NO" />
	</resultMap>
		
		
	<select id="getAllUserIdList" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER
		WHERE MEMBER_ROLE IN ('개인', '기업')
	</select>
	
	
	<!-- 인피니트 스크롤 데이터 받아오기 -->
	<select id="getInfiniteUserList" parameterType="_int" resultMap="listResultMap" resultType="arrayList">
		SELECT RESULT.* 
		FROM (SELECT ROWNUM NUMROW,ID, NICKNAME, PROFILE_IMG, MEMBER_ROLE
				FROM MEMBER
                WHERE MEMBER_ROLE IN ('개인', '기업')
		        ORDER BY MEMBER_NO) RESULT
		WHERE RESULT.NUMROW BETWEEN (12 * (#{ count } - 1) + 1) AND (12 * #{ count })
	</select>	
		
		 
	<select id="findUserById" parameterType="String" resultMap="listResultMap" resultType="map">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE ID LIKE '%' || #{ keyword } || '%' 
	</select>
	
	
	<select id="findUserByNickname" parameterType="String" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE NICKNAME LIKE '%' || #{ keyword } || '%' 
	</select>
	

	<!--  브랜드에서만 검색하는 /search/only_brand 관련 메소드  -->
	
	<select id="getBrandUserIdList" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER
		WHERE MEMBER_ROLE IN ('기업')
	</select>
	
	<select id="findBrandUserById" parameterType="String" resultMap="listResultMap" resultType="map">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE ID LIKE '%' || #{ keyword } || '%' 
			AND MEMBER_ROLE = '기업'
	</select>
	
	<select id="findBrandUserByNickname" parameterType="String" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE NICKNAME LIKE '%' || #{ keyword } || '%' 
			AND MEMBER_ROLE = '기업'
	</select>
	
	
	
	<!--  유저에서만 검색하는 /search/only_user 관련 메소드  -->
	
	<select id="getOnlyUserIdList" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER
		WHERE MEMBER_ROLE IN ('개인')
	</select>
	
	<select id="findOnlyUserById" parameterType="String" resultMap="listResultMap" resultType="map">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE ID LIKE '%' || #{ keyword } || '%' 
			AND MEMBER_ROLE = '개인'
	</select>
	
	<select id="findOnlyUserByNickname" parameterType="String" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER 
		WHERE NICKNAME LIKE '%' || #{ keyword } || '%' 
			AND MEMBER_ROLE = '개인'
	</select>
	
	
	<!--  home.jsp 랜덤 유저 받아오기 -->
	<select id="getRandomUserList" resultMap="listResultMap" resultType="arrayList">
		SELECT RESULT.* 
		FROM (SELECT ROWNUM NUMROW, RANDOM.* 
		        FROM (MEMBER SAMPLE(30)) RANDOM
		        ORDER BY MEMBER_NO) RESULT
		WHERE RESULT.NUMROW IN (2, 4, 7)
		    AND MEMBER_ROLE IN ('개인', '기업')
	</select>
	

	
	<!-- 팔로워 순대로 리스트 가져오는 구문
	
	<select id="getUserListByFollowerResult" parameterType="arrayList" resultMap="listResultMap" resultType="arrayList">
		SELECT ID, NICKNAME, PROFILE_IMG
		FROM MEMBER
		WHERE MEMBER_NO IN 
		<foreach item="item" index="index" collection="#{ userListByFollowerId }" open="(" separator="," close=")">
			#{ item }
		</foreach>
	</select>
	
		
	<select id="getUserListByFollower" resultMap="listResultMap" resultType="arrayList">
		SELECT TO_MEM_NO, ROWNUM 
		FROM (
			SELECT COUNT(*), TO_MEM_NO
			FROM FOLLOWER
			GROUP BY TO_MEM_NO
			ORDER BY COUNT(*) DESC )
		WHERE ROWNUM BETWEEN 1 AND 100
	</select>
		
	 -->
	 
</mapper>
