@charset "UTF-8";

/* 전체 */ 
.frame{
	margin: 50px 50px; 
}

/* 콜라보 메인 */

/* 프로모션 작성 버튼 */
#write_pro {
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
	width: 250px;
	float: right;
	margin-right: 2.5%;
}

#write_pro:hover {
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
}

#write_pro:active {
	position:relative;
   	top:1px;
}

/* 콜라보 메인 정보 부분 */ 

/* 슬라이드 부분 현재 사용하지 않고 있음
.colla_img{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(198, 182, 218);
    height: 350px;
    text-align: center;
    margin: 3%;
}

.promotion_slide{
	width: 620px; 
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 5%;	
}
*/

.promotion{
    	font-family: 'Sam3KRFont';
    	font-size: 25px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;    	
    	width: 60%;
}

#promotion{
    	font-family: 'Sam3KRFont';
    	font-size: 25px;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
}

.p_new {
	margin: 2.5% 5%; /*화면 % 확 후 다시 조절*/
	font-family: 'DOSGothic';
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}

.p_new table {
	border-spacing: 10px; /* 테이블 간격 조절 */
}

.p_new p {
	text-align: center;
}

.p_new a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 18px;	
  font-weight: bold;
}

.p_new img {
	border-radius: 30px;
}

.p_list1 {
	margin: 0 7px;
}

.p_list2 {
	margin: 0 7px;
}

.p_list3 {
	margin: 0 7px;
}

.p_list4 {
	margin: 0 7px;
}

.p_new td{
	text-align: center;
  	font-size: 14px;
  	padding: 0 5px 5px 0;
}

/* 카테고리 목록 */
.category_name{
    font-family: 'Sam3KRFont';
    font-size: 25px;
    text-align: left;
    color: #730e74;
    margin: 30px 0 30px 50px;
    width: 60%;
}

.category_list td{
  text-align: center;
  font-size: 14px;
}

/* 리빙 카테고리 */

.living{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 2.5% 5%; /*화면 % 확 후 다시 조절*/
}

.living p{
    text-align: center;
    font-size: 14px;
}

.living strong{
	text-align: center; 
	font-size: 18px;
	margin-bottom: 2%;
}

.living img{
	border-radius: 10px;	
}

.l_img{
	text-align: center;
}

/* 
.lproduct{
	font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
*/

.living a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.living1 {
	margin: 0 8px;
}

.living2 {
	margin: 0 8px;
}

.living3 {
	margin: 0 8px;
}

.culture{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 2.5% 5%; 
}

/* 문화 카테고리 */

.culture p{
    text-align: center;
    font-size: 14px;
}

.culture strong{
	text-align: center; 
	font-size: 18px;
	margin-bottom: 2%;
}

.culture img{
	border-radius: 10px;	
}

.culture a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.culture1 {
	margin: 0 8px;
}

.culture2 {
	margin: 0 8px;
}

.culture3 {
	margin: 0 8px;
}

/* 식품 카테고리 */

.food{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 2.5% 5%;
}

.food p{
    text-align: center;
    font-size: 14px;
}

.food strong{
	text-align: center; 
	font-size: 18px;
	margin-bottom: 2%;
}

.food img{
	border-radius: 10px;	
}

.food a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.food1 {
	margin: 0 8px;
}

.food2 {
	margin: 0 8px;
}

.food3 {
	margin: 0 8px;
}

.tech{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 2.5% 5%;
}

/* 테크 카테고리 */

.tech p{
    text-align: center;
    font-size: 14px;
}

.tech strong{
	text-align: center; 
	font-size: 18px;
	margin-bottom: 2%;
}

.tech img{
	border-radius: 10px;	
}

.tech a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.tech1 {
	margin: 0 8px;
}

.tech2 {
	margin: 0 8px;
}

.tech3 {
	margin: 0 8px;
}

/* 패션 카테고리 */

.fashion{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 2.5% 5%;
}

.fashion p{
    text-align: center;
    font-size: 14px;
}

.fashion strong{
	text-align: center; 
	font-size: 18px;
	margin-bottom: 2%;
}

.fashion img{
	border-radius: 10px;	
}

.fashion a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.fashion1 {
	margin: 0 8px;
}

.fashion2 {
	margin: 0 8px;
}

.fashion3 {
	margin: 0 8px;
}

/* 브랜드 */ 
.brand_logo {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	margin: 0 2%;	
}

.brand_list p{
    	font-family: 'Sam3KRFont';
    	font-size: 40px;
    	text-align: left;
    	color: #730e74;
    	/* 위 | 오른쪽 | 아래 | 왼쪽 */
    	margin: 30px 0 0 50px;
    	width: 60%;	
}

/*.brand_logo table{
	padding: -10px;
}*/

.brand_logo img{
	border-radius: 15px;
}

.brand_array{
	margin: 3% 0 2% 0;
}
.brand_englist ul{
	list-style: none;
	font-family: 'Sam3KRFont';
	font-size: 35px;
	display: inline;
	margin-left: 23px;
}

.brand_englist li{
	list-style: none;
	font-family: 'Sam3KRFont';
	font-size: 35px;
	display: inline;
	margin-left: 23px;
}

.brand_englist li:hover{
	background-color: rgb(198, 182, 218);	
}

.brand_englist a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
	font-family: 'Sam3KRFont';
	font-size: 35px;
}

/* 브랜드 Detail*/

.select_brand{
    font-family: 'Sam3KRFont';
    font-size: 40px;
    text-align: left;
    color: #730e74;
    margin: 30px 0 30px 50px;
    width: 60%;		
}

.alpha_list {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	font-family: 'DOSGothic';	
    text-align: center; 
    margin: 0 3%; 		
}



