@charset "UTF-8";

.frame{

}

.colla_menu{
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: row;  
    justify-content:center;
    word-spacing: 45px;
    margin-top: 1%;
}

.colla_menu li{
    display: inline;
    align-self: center;
    margin: 0%;
    margin-left: 15px;    
}

.colla_menu li:hover{
	background-color: rgb(198, 182, 218);
}

/* 콜라보 메인 */
.colla_img{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(198, 182, 218);
    height: 350px;
    text-align: center;
    margin: 3%;
}

.promotion_slide{
	width: 620px; 
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 5%;	
}

.promotion{
    	font-family: 'Sam3KRFont';
    	font-size: 25px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
    	width: 60%;
}

.p_new {
	font-family: 'DOSGothic';
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}

.p_new li {
	list-style: none;
}

.p_new p {
	text-align: center;
}

.p_new a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

/* 카테고리 목록 */
.category_list{
/*    font-family: 'Nanum Gothic', sans-serif;
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 3%;
*/
    	font-family: 'Sam3KRFont';
    	font-size: 30px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
    	width: 60%;
}

.living{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.living p{
    text-align: center;
}

.living strong{
	text-align: center; 
	font-size: 25px;
	margin-bottom: 2%;
}

.l_img{
	text-align: center;
}

.lproduct{
	font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.living a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.culture{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.culture p{
    text-align: center;
}

.culture strong{
	text-align: center; 
	font-size: 25px;
	margin-bottom: 2%;
}

.culture a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.food{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.food p{
    text-align: center;
}

.food strong{
	text-align: center; 
	font-size: 25px;
	margin-bottom: 2%;
}

.food a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.tech{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.tech p{
    text-align: center;
}

.tech strong{
	text-align: center; 
	font-size: 25px;
	margin-bottom: 2%;
}

.t_img {
	text-align: center;
}

.tech a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

.fashion{
    font-family: 'DOSGothic';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.fashion p{
    text-align: center;
}

.fashion strong{
	text-align: center; 
	font-size: 25px;
	margin-bottom: 2%;
}

.fashion a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  font-size: 20px;	
}

th, td {
  text-align: center;
}

/* 디테일 css에서 처리*/
/*
.proInfo{
	font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
}
*/

/* 브랜드 */ 
.brand_logo {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;	
}

.brand_list p{
    	font-family: 'Sam3KRFont';
    	font-size: 40px;
    	text-align: left;
    	color: #730e74;
    	margin: 30px 0 30px 50px;
    	width: 60%;	
}

.brand_logo table{
	padding: -10px;
}

/* Crystal Edited : 원래 코드도 남겨놓습니다.

.brand_englist ul, li{
	list-style: none;
	font-family: 'Sam3KRFont';
	font-size: 35px;
	display: inline;
	/*margin-left: 23px;*/
}
*/

.brand_englist ul{
	list-style: none;
	font-family: 'Sam3KRFont';
	font-size: 35px;
	display: inline;
	margin-left: 23px;
}

.brand_englist li{
	list-style: none;
	font-family: 'Sam3KRFont';
	font-size: 35px;
	display: inline;
	margin-left: 23px;
}

/* ----------- */

.brand_englist li:hover{
	background-color: rgb(198, 182, 218);	
}





