@charset "UTF-8";

.enroll {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1);
}

#personal, #business {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1);
    border-color: blueviolet;
    font-size: 15px;
    padding: 5px 10px 7px;
    cursor: pointer;
    width: 130px;
    height: 60px;
    border-radius: 5px;
    margin: 0px auto;
    margin-left: 10px;
    display: inline-block;
    color:#333; 
    transition:all 0.9s, color 0.3;
}

#personal:hover{ 
    box-shadow: 0 80px 0 0 rgba(136,67,242,1) inset;
}

#business:hover{ 
    box-shadow: 0 80px 0 0 rgba(239,47,136,1) inset;
}

#personal:hover, #business:hover{
    color: white;
}





