@charset "UTF-8";

.enroll {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1); */
    color:#730e74;
	font-family: 'Sam3KRFont';
	font-size:14px;
}

#enrollSubmit, #reset {
    background-color: rgb(255, 255, 255);
    border-color: blueviolet;
    box-shadow: 1px 1px 1px 1px rgb(175, 46, 201, 0.5);
    font-size: 14px;
    padding: 10px 10px 10px;
    cursor: pointer;
    width: 130px;
	font-family: 'Sam3KRFont';
}

.labelAll {
    padding: 10px 40px;
}

#checkDuplicate, #checkDuplicateNickname, #businessNoCheck {
    background-color: rgb(255, 255, 255);
    border-color: rgb(1, 0, 2);
    font-size: 14px;
    cursor: pointer;
	font-family: 'Sam3KRFont';
	padding: 3px 5px 3px;
}

input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 200px;
    height: 20px;
    font-size: 12px;
	font-family: 'Sam3KRFont';
}

input[type=radio] {
    width: 13px;
    height: 13px;
}

#year {
    width: 65px;
    height: 20px;
    font-size: 13px;
}

#month, #day {
    width: 45px;
    height: 20px;
    font-size: 13px;
}

