@charset "UTF-8";

.enroll {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1); */
}


/* Crystal Edited */
.mini-title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #730e74;
	/* 변경값 */
	text-align: left;
	margin: 50px 0 30px 150px; /* 위아래 마진은 고정, 왼쪽 마진만 변경하여 사용*/
	width: 60%;
}

#personal {
	/* 고정값 */
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;

    padding: 5px 10px 7px;
    cursor: pointer;
    width: 130px;
    height: 60px;
    margin: 0px auto;
    margin-left: 10px;
    display: inline-block;
    transition:all 0.9s, color 0.3;
}

#personal:hover {
	color: #faae22;
	border: 2px solid #720e74;
	
}
#personal:active {
	position:relative;
	top:1px;
}

#business {
	/* 고정값 */
	background-color:#faae22;
	border-radius:7px;
	border: 2px solid  #720e74;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;

    padding: 5px 10px 7px;
    cursor: pointer;
    width: 130px;
    height: 60px;
    margin: 0px auto;
    margin-left: 10px;
    display: inline-block;
    transition:all 0.9s, color 0.3;
}

#business:hover {
  	/* 고정값 */
	color: #720e74;
	border: 2px solid #faae22;
	
}
#business:active {
	position:relative;
	top:1px;
}

