@charset "UTF-8";

#section {
	/* display : inline-block; */
	width: 85%;
	padding: 20px 100px 20px 100px;
	display: flex;
	justify-content: center;
}

/* 왼쪽 박스 : 로고 이미지 */
.logo {
	display: inline-block;
	/* background-color: red; */
	width: 30%;
	height: 900px;
}

#logoimage {
	width: 100%;
	height: 100%;
}


/* 오른쪽 박스 : 기타 내용 */
.noticeandrank {
	display: inline-block;
	/* background-color: blue; */
	width: 50%;
	height: 900px;
}

.notice, .brandRank, .collectionRecommend  {
	display: inline-block;
	width: 100%;
	height: 32.2%;
	margin: 0px 0 15px 20px;
	border: 0.5px solid #730e74;
	border-radius: 6px;
}

.notice {
	/* background-color: red; */
	
}

/* -- 프로모션 좋아요 Top3 파트 -- */
.brandRank {
	/* background-color: green; */
}

#promotion_image{
	width: 125px;
	height: 150px;
	cursor: pointer;
	margin: 0 0 0 27px;
	justify-content: center;
} 

#pmt_title {
	font-family: 'DOSGothic';
	font-size: 15px;
	text-align: left;
	text-align: center;
}

#top3ListContainer {
	
	margin: 0 0 0 0;
}

.pmt_info_container {
	width: 30%;
	display: inline-block;
	margin: 0 0 0 10px;
}


/* -- 컬렉션 랜덤 추천 파트 -- */
.collectionRecommend {
	/* background-color: red; */
}

.member_info_container {
	width: 30%;
	/* margin: 20px 10px 0 0;
	display: inline-block; */
	display: inline-block;
	margin: 0 0 0 9px;
}

#collectionRecommendContent {
	padding: 0 30px 0 30px 0;
}

#profile_image{
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: rgb(207, 205, 205);
	border-radius: 70%;
	cursor: pointer;
	margin: 0 0 0 27px;
	justify-content: center;
}

#member_nickname {
	font-family: 'DOSGothic';
	font-size: 20px;
	text-align: left;
	text-align: center;
}



/* 내용 파트 */
#mini_title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #730e74;
	/* 변경값 */
	text-align: left;
	margin: 5% 0px 0px 10%; /* 위아래 마진은 고정, 왼쪽 마진만 변경하여 사용*/
	width: 60%;
}

.content {	margin: 5% 10% 5% 10%;
	font-family: 'DOSGothic';
}


