@charset "UTF-8";

.myPage {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 380px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1);
}

/*
▼ 서연님 예전 작업물 (확인하시고 필요없으면 지우셔도 됩니다!)
#btn1, #btn2, #btnDelete {
    background-color: rgb(255, 255, 255);
    border-color: blueviolet;
    box-shadow: 1px 1px 1px 1px rgb(175, 46, 201, 0.5);
    font-size: 13px;
    padding: 5px 10px 10px;
    cursor: pointer;
    width: 90px;
}
*/

/* --- ▼ Crystal Edited ▼ --- */
#btn1, #btn2, #btnDelete {
 	/* 고정값 */
 	background-color:#720e74;
 	border-radius:7px;
 	border: 2px solid  #faae22;
 	cursor:pointer;
 	color:#ffffff;
 	font-family: 'Sam3KRFont';
 	font-size:14px;
 	padding:10px 27px;
 	text-decoration:none;
 	text-shadow: 0px 0px 0px #faaf22;
	/* 변경값 */
 	display:inline-block;
 	width: 120px;
}
#btn1 #btn2 #btnDelete:hover {
  	/* 고정값 */
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
	
}
#btn1 #btn2 #btnDelete:active {
	position:relative;
	top:1px;
}

/* (주석은 확인하고 지워주세요)
서연님 레이아웃은 미니 타이틀이 가운데 있는게 예쁘더라구요 !
font-family, font-size, color 요 세개만 이 값 쓰시고
나머지는 상황에 맞게 설정값 사용하시면 될것같습니다.  */
.mini_title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #730e74;
	/* 변경값 */
	text-align: center;
	margin: auto;
	width: 60%;
}

/* --- ▲ Crystal Edited ▲ --- */

#btnDelete {
    color: red;
}


input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 200px;
    height: 20px;
    font-size: 13px;
}

input[type=file] {
    width: 200px;
    height: 30px;
    font-size: 13px;
}

#fn_chkBusinessNum1 {
	background-color: rgb(255, 255, 255);
    border-color: rgb(1, 0, 2);
    font-size: 14px;
    cursor: pointer;
}
