@charset "UTF-8";

.myPage {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: 100px auto 0;
    margin-bottom: 100px;
    padding: 30px 40px 40px 30px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 5px rgba(113, 6, 175, 0.1), -1px -1px 5px rgba(132, 8, 148, 0.1); */
	font-family: 'Sam3KRFont';
}

/* --- ▼ Crystal Edited ▼ --- */
#btn1, #btn2, #btnDelete, #updatePwd {
 	/* 고정값 */
 	background-color:#720e74;
 	border-radius:7px;
 	border: 2px solid  #faae22;
 	cursor:pointer;
 	color:#ffffff;
 	font-family: 'Sam3KRFont';
 	font-size:14px;
 	padding:10px 27px;
 	text-decoration:none;
 	text-shadow: 0px 0px 0px #faaf22;
	/* 변경값 */
 	display:inline-block;
 	width: 120px;
}
#btn1 #btn2 #btnDelete:hover {
  	/* 고정값 */
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
	
}
#btn1 #btn2 #btnDelete:active {
	position:relative;
	top:1px;
}

.mini_title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #730e74;
	/* 변경값 */
	text-align: left;
	/* margin: auto; */
	width: 60%;
}

/* --- ▲ Crystal Edited ▲ --- */

#btnDelete {
    color: red;
}


input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 200px;
    height: 20px;
    font-size: 13px;
	font-family: 'Sam3KRFont';
}

input[type=file] {
    width: 200px;
    height: 30px;
    font-size: 13px;
	font-family: 'Sam3KRFont';
}

#fn_chkBusinessNum1 {
	background-color: rgb(255, 255, 255);
    border-color: rgb(1, 0, 2);
    font-size: 14px;
    cursor: pointer;
	font-family: 'Sam3KRFont';
	padding: 3px 5px 3px;
}

#imagePreview {
	width: 50px;
	height: 50px;
}

/*
#updatePwd {
 	/* 고정값 */
 	background-color:#720e74;
 	border-radius:7px;
 	border: 2px solid  #faae22;
 	cursor:pointer;
 	color:#ffffff;
 	font-family: 'Sam3KRFont';
 	font-size:14px;
 	padding:10px 27px;
 	text-decoration:none;
 	text-shadow: 0px 0px 0px #faaf22;
	/* 변경값 */
 	display:inline-block;
 	width: 145px;
}
*/

#updatePwd:hover {
	color: #ae165f;
}

#updatePwd {
    background-color: white;
    border-style: none;
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'DOSGothic';
    color : #730e74;
}

