@charset "UTF-8";

#personal, #business {
	 /* 고정값 */
	background-color:#720e74;
	border-radius:7px;
	border: 2px solid  #faae22;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sam3KRFont';
	font-size:14px;

	text-decoration:none;
	text-shadow: 0px 0px 0px #faaf22;
	/* 변경값 */
	display:inline-block;

    width: 130px;
    padding: 5px 5px 8px;
}

#personal:hover {
  	/* 고정값 */
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
	
}

#business:hover {
  	/* 고정값 */
	background-color:#faae22;
	color: #720e74;
	border: 2px solid #720e74;
	
}

#btn:active {
	position:relative;
	top:1px;
}


/* Crystal Edited */
.mini_title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #730e74;
	/* 변경값 */
	text-align: center;
	/* margin: 50px 0 30px 150px; */ /* 위아래 마진은 고정, 왼쪽 마진만 변경하여 사용*/
	/* width: 60%; */
}

textarea {
	border-color:  #730e74;
	font-family: 'DOSGothic';
}
	
p {
	font-family: 'DOSGothic';
}