<?xml version="1.0" encoding="UTF-8"?>

<!-- Mapper 설정 파일임을 선언 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.collaverse.mvc.board.model.dao.BoardMapper">
	<resultMap type="Board" id="boardListResultMap">
		<id property="no" column="NO" />
		<result property="title" column="TITLE"/>
		<result property="writer" column="WRITER"/>
		<result property="readCount" column="READCOUNT"/>
		<result property="content" column="CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<!-- 게시판 등록 -->
    <insert id="enroll">
        INSERT INTO BOARD(
        	NO, 
        	TITLE, 
        	WRITER, 
        	CONTENT,
        	READCOUNT,
        	CREATE_DATE,
        	MODIFY_DATE
        ) 
        VALUES (
        	SEQ_BOARD_NO.NEXTVAL,
        	#{title},
        	#{writer}, 
        	#{content},
        	DEFAULT,
        	SYSDATE,
        	SYSDATE
        )
    </insert>
	
	<sql id="boardListSql">
		SELECT  NO,
				WRITER,
				TITLE,
				READCOUNT,
				CONTENT,
				CREATE_DATE,
				MODIFY_DATE
		FROM BOARD
	</sql>
	
	<select id="findAll" parameterType="map" resultMap="boardListResultMap">
		 <include refid="boardListSql" />
		 <choose>
		 	<when test="writer != null">
		 		 AND M.ID LIKE '%' || #{writer} || '%'
		 	</when>
		 	<when test="title != null">
		 		AND B.TITLE LIKE '%' || #{title} || '%'
		 	</when>
		 	<when test="content != null">
		 		AND B.CONTENT LIKE '%' || #{content} || '%'		
		 	</when>
		 </choose>
		 ORDER BY NO DESC
	</select>
	
	<select id="getBoardCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD 
		 <choose>
		 	<when test="writer != null">
		 		 AND M.ID LIKE '%' || #{writer} || '%'
		 	</when>
		 	<when test="title != null">
		 		AND B.TITLE LIKE '%' || #{title} || '%'
		 	</when>
		 	<when test="content != null">
		 		AND B.CONTENT LIKE '%' || #{content} || '%'		
		 	</when>
		 </choose>
	</select>
	
	
	
	
</mapper>