        .mypage_collection_write_container {
            padding: 50px 0 50px 0;
        }
        .mypage_collection_write {
            border: solid 2px black;
            margin: auto;
        }

        #image {
            width: 400px;
            height: 400px;
            border: 2px solid black;
        }

        #mypage_collection_write_content {
            width: 300px;
            height: 400px;
        }

        #mypage_collection_write_submit {
            width: 308px;
            height: 30px;
            background-color: blueviolet;
            color: white;
        }