/*-------------------------- list.jsp --------------------------*/

body {
	display: block;
    margin: 8px;
}

.collection_container{
	height:auto;
}
  	
.title_and_write_button {
	height: 90px;
}
  		
.mypage_mycollection_title {
    width: 100%;
    height: 90px;
    border: 1px solid black;
    text-align: left;
    font-size:30px;
    padding: 20px 0 20px 30px ;
    box-sizing: border-box;
}

#collection_write_button_space {
	width: 30%;
	float: right;
}

.mypage_mycollection_list_container {
    width: 70%;
    /* height: 100%; */
    margin: auto;
}

.mypage_mycollection_list {
    /* height: 100%; */
    /* margin: 0 0 30px 0; */
}

.mypage_mycollection_list .collection_list {
    /* float : left; */
    display: inline-block;
}

#collection_box {
    width: 30%;
    height: 270px;
    border: 1px solid rgb(89, 22, 145);
    margin: 20px 15px 0 0;
}
      
#collection_no_collectionList {
    text-align : center;
}