<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.collaverse.mvc.member.model.dao.MemberMapper">

	<sql id="selectMemberSql">
		SELECT MEMBER_NO,
			   MEMBER_ROLE,
		       ID,
		       PASSWORD,
		       EMAIL,
		       PHONE,
		       NICKNAME,
		       PROFILE_IMG,
		       BUSINESS_NO,
		       BUSINESS_NAME,
		       ENROLL_DATE,
		       MODIFY_DATE,
		       MEMBER_STATUS,
		       MEMBER_AGE,
		       MEMBER_GENDER
		FROM MEMBER
	</sql>

	<resultMap type="Member" id="memberResultMap">
		<id property="no" column="MEMBER_NO"/>
		<result property="role" column="MEMBER_ROLE"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="profile_img" column="PROFILE_IMG"/>
		<result property="business_no" column="BUSINESS_NO"/>
		<result property="business_name" column="BUSINESS_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="age" column="MEMBER_AGE"/>
		<result property="gender" column="MEMBER_GENDER"/>
	</resultMap>

	<select id="findMemberById" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE ID = #{id} AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 개인 회원가입 -->
	<insert id="insertMember" parameterType="com.collaverse.mvc.member.model.vo.Member"
			 useGeneratedKeys="true" keyColumn="MEMBER_NO" keyProperty="no">
			INSERT INTO MEMBER (
					    MEMBER_NO, 
					    MEMBER_ROLE,
				        ID,
				        PASSWORD,
				        EMAIL,
				        PHONE,
				        NICKNAME,
				        PROFILE_IMG,
				        BUSINESS_NO,
				        BUSINESS_NAME,
				        ENROLL_DATE,
				        MODIFY_DATE,
				        MEMBER_STATUS,
				        MEMBER_AGE,
				        MEMBER_GENDER
				) VALUES (
						SEQ_MEM_MEMBER_NO.NEXTVAL,
						DEFAULT,
						#{id},
						#{password},
						#{email},
						#{phone},
						#{nickname},
						'profile_basic.png',
						#{business_no},
						#{business_name},
						DEFAULT,
						DEFAULT,
						DEFAULT,
						#{age},
						#{gender}
					)
	</insert>
	

	<!-- 기업 회원가입 -->
	<insert id="insertBusinessMember" parameterType="com.collaverse.mvc.member.model.vo.Member"
			 useGeneratedKeys="true" keyColumn="MEMBER_NO" keyProperty="no">
			INSERT INTO MEMBER (
					    MEMBER_NO, 
					    MEMBER_ROLE,
				        ID,
				        PASSWORD,
				        EMAIL,
				        PHONE,
				        NICKNAME,
				        PROFILE_IMG,
				        BUSINESS_NO,
				        BUSINESS_NAME,
				        ENROLL_DATE,
				        MODIFY_DATE,
				        MEMBER_STATUS,
				        MEMBER_AGE,
				        MEMBER_GENDER
				) VALUES (
						SEQ_MEM_MEMBER_NO.NEXTVAL,
						'기업',
						#{id},
						#{password},
						#{email},
						#{phone},
						#{nickname},
						'profile_basic.png',
						#{business_no},
						#{business_name},
						DEFAULT,
						DEFAULT,
						DEFAULT,
						#{age},
						#{gender}
					)
	</insert>
	
	<!-- 개인 회원정보수정 -->
	<update id="updateMember" parameterType="com.collaverse.mvc.member.model.vo.Member">
		UPDATE MEMBER 
		SET 
			ID = #{id},
			PASSWORD = #{password},
			PHONE = #{phone},
			NICKNAME = #{nickname},
			EMAIL = #{email},
			PROFILE_IMG = #{profile_basic.png},
			MODIFY_DATE = SYSDATE 
		WHERE MEMBER_NO = #{no}
	</update>
	
	<!-- 기업 회원정보수정 -->
	<update id="updateMember_business" parameterType="com.collaverse.mvc.member.model.vo.Member">
		UPDATE MEMBER 
		SET 
			ID = #{id},
			PASSWORD = #{password},
			PHONE = #{phone},
			BUSINESS_NAME = #{business_name},
			BUSINESS_NO = #{business_no},
			NICKNAME = #{nickname},
			EMAIL = #{email},
			PROFILE_IMG = #{profile_basic.png},
			MODIFY_DATE = SYSDATE
		WHERE MEMBER_NO = #{no}
	</update>

	
	<!-- 회원정보삭제 -->
	<delete id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		SET
			MEMBER_STATUS = 'N'
		WHERE 
			MEMBER_NO = #{no}
	</delete>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="String" resultType="com.collaverse.mvc.member.model.vo.Member">
		SELECT ID FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="String" resultType="com.collaverse.mvc.member.model.vo.Member">
		SELECT PASSWORD FROM MEMBER WHERE ID = #{id}
	</select>
	
	<!-- 사업자등록번호 중복확인 -->
	<select id="findMemberByBusiness_no" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE BUSINESS_NO = #{business_no} AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 닉네임 중복확인 -->
	<select id="findMemberByNickname" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE NICKNAME = #{nickname} AND MEMBER_STATUS = 'Y'
	</select>
	
	<!-- 통계용 여 팔로워 회원정보 -->
	<select id = "getWomenCount" resultType="_int">
		<!-- SELECT COUNT(*) FROM MEMBER WHERE MEMBER_GENDER = 'woman' -->
		SELECT COUNT(*) FROM
							(SELECT MEMBER_GENDER
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_GENDER = 'woman'
	</select>
	
	<!-- 통계용 남 팔로워 회원정보 -->
	<select id = "getMenCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_GENDER
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_GENDER = 'man'
	</select>
	
	<!-- 통계용 10대 정보 -->
	<select id = "getTeenagerCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE BETWEEN 10 AND 19
	</select>
	
	<!-- 통계용 20대 정보 -->
	<select id = "getTwentiesCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE BETWEEN 20 AND 29
	</select>
	
	<!-- 통계용 30대 정보 -->
	<select id = "getThirtiesCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE BETWEEN 30 AND 39
	</select>
	
	<!-- 통계용 40대 정보 -->
	<select id = "getFortiesCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE BETWEEN 40 AND 49
	</select>
	
	<!-- 통계용 50대 정보 -->
	<select id = "getFiftiesCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE BETWEEN 50 AND 59
	</select>
	
	<!-- 통계용 그 외 나이 정보 -->
	<select id = "getEtcCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
						WHERE MEMBER_AGE <![CDATA[<]]> 10 OR MEMBER_AGE <![CDATA[>=]]> 60
	</select>
	
	<!-- 통계용 토탈 합 정보 -->
	<select id = "getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM
							(SELECT MEMBER_AGE
							FROM MEMBER
							WHERE MEMBER_NO IN (
							SELECT FROM_MEM_NO 
							FROM FOLLOWER 
							WHERE TO_MEM_NO = #{memberNo}
							))
	</select>

	<!-- 1일 전 팔로우 -->
	<select id = "getYesterday1Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 1)
	</select>
	
	<!-- 2일 전 팔로우 -->
	<select id = "getYesterday2Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 2)
	</select>
	
	<!-- 3일 전 팔로우 -->
	<select id = "getYesterday3Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 3)
	</select>
	
	<!-- 4일 전 팔로우 -->
	<select id = "getYesterday4Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 4)
	</select>
	
	<!-- 5일 전 팔로우 -->
	<select id = "getYesterday5Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 5)
	</select>
	
	<!-- 6일 전 팔로우 -->
	<select id = "getYesterday6Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 6)
	</select>
	
	<!-- 7일 전 팔로우 -->
	<select id = "getYesterday7Count" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOWER
		WHERE TO_MEM_NO = #{memberNo} AND TO_CHAR(FOLLOWER_CREATE_DATE) = TO_CHAR(SYSDATE - 7)
	</select>
	
		<!-- 비밀번호 변경 (작성중) -->
	<update id="updatePwd" parameterType="com.collaverse.mvc.member.model.vo.Member">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE MEMBER_NO = #{no}
	</update>
	
	<select id="findMemberByPw" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE PASSWORD = #{password} AND MEMBER_STATUS = 'Y'
	</select>

</mapper>
