@charset "UTF-8";

#person {
  margin: 0 auto;
  width: 1200px;
}
#person .mypage {
  position: relative;
  margin: 0 0 50px 0;
  /* margin-bottom: 50px; */
}
#person .mypage #person-photo img {
  margin-top: 20px;
  text-align:center;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: rgb(207, 205, 205);
  border-radius: 70%;
  overflow: hidden;
  margin: 35px 0 0 80px;
}
#person .mypage #person-name {
  font-size: 60px;
  position: absolute;
  top: 55px;
  left: 200px;
  font-family: 'Sam3KRFont';
  /* font-size: 30px; */
  color: #730e74;
}

/* 캘린더 */
.fc-sat { color:#0000FF; }    /* 토요일 */
.fc-sun { color:#FF0000; }    /* 일요일 */
#person #person-calendar p {
  font-size: 40px;
}
#person #person-calendar a {
	text-decoration-line: none;
}
#person #person-calendar a:active {
	color: black;
}
#person #person-calendar a #calendar {
	width: 800px;
	height: 600px;
	margin-bottom: 40px;
	/*margin: auto;*/
}

#calendar {
	margin: 20px 200px 0 200px;
}

/* 팔로우 */
#person #person-follow .mini_title {
  font-size: 40px;
}
#person #person-follow #follow {
  display: flex;
  position: relative;
  /* margin: auto; */
  justify-content: center;
}
#person #person-follow #follow article {
  margin-right: 25px;
  height: 100px;
}
#person #person-follow article img {
  text-align:center;
  width: 90px;
  height: 90px;
  border-radius: 70%;
  overflow: hidden;
  margin-bottom: 2px;
}
#person #person-follow #follow article div {
  text-align: center;
  font-size: 20px;
}
#person #person-follow #follow article .material-icons {
  /* position: absolute; */
  margin-top: 15px;
  font-size: 60px;
  left: 690px;
  color: #730e74;
}
#person #person-follow #follow article .text {
  font-size: 15px;
  /* position: absolute; */
  bottom: 40px;
  left: 695px;
  color: #730e74;
  /* padding: 0 0 30px 0; */
}

/* 컬렉션 */
#person #person-collection  {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}
#person #person-collection #collection {
  display: flex;
  position: relative;
  justify-content: center;
}
#person #person-collection #collection article {
  margin-right: 25px;
  height: 100px;
}
#person #person-collection article img {
  text-align:center;
  width: 90px;
  height: 90px;
  margin-bottom: 2px;
}
#person #person-collection #collection article div {
  text-align: center;
  font-size: 20px;
}
#person #person-collection #collection article .material-icons {
  /* position: absolute; */
  margin-top: 15px;
  font-size: 60px;
  left: 690px;
  color: #730e74;
}
#person #person-collection #collection article .text {
  font-size: 15px;
  /* position: absolute; */
  bottom: 40px;
  left: 695px;
  color: #730e74;
}

.mini_title {
	/* 고정값 */
	font-family: 'Sam3KRFont';
	font-size: 40px;
	color: #730e74;
	/* 변경값 */
	text-align: left;
	margin: 50px 0 30px 150px;
	width: 60%;
}

#memebr_nickname {
	text-shadow: 3px 3px 0px #faaf22;
}

#col {
	color: #550c81;
}

#ver {
	color: #8c116c;
}

#se {
	color: #ae165f;
}

/*
.arrow_right:hover {
	background-color: #faae22;
}
*/
.more:hover {
	background-color: #faae22;
}

#no_followernList {
	text-align: left;
	margin: 20px 0 20px 0px;
	font-family: 'Sam3KRFont';
	font-size: 30px;
	color: #dbeaf8;
	text-shadow: 4px 4px 0px #faaf22;
	/* text-shadow: -4px -4px 0px #faaf22; */
}

#profile_image {
	width: 150px;
	height: 150px;
	border-style: solid;
	border-color: rgb(207, 205, 205);
	border-radius: 70%;
	cursor: pointer;
}

/*
.member_container {
	margin: 0 150px 80px 150px;
}
*/

#member_nickname {
	font-family: 'DOSGothic';
	text-align: center;
	font-size: 20px;
}

.member_info_container {
	margin: 0 20px 0 0 ;
}

#person-calendar {
	margin: 0 0 120px 0 ;
}

#collection_image {
	width: 150px;
	height: 150px;
	
}

#no_followernList {
	font-size: 30px;
}